<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if 'username' in session %}
                <span>Welcome, {{ session['username'] }}!</span>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
         </ul>
    </nav>
    {% block content %}{% endblock %}

    <footer class="footer">
        <p>MovieWeb App &copy; 2024</p>
    </footer>
</body>
</html>
